<main class="page-body__page-main  page-main">
  <div class="page-body__container-stats">
    <section class="trip-events  trip-events--hidden">
      <h2 class="visually-hidden">Trip events</h2>
    </section>

    <section class="statistics">
      <h2 class="visually-hidden">Trip statistics</h2>

      <div class="statistics__item statistics__item--money">
        <canvas appChart [labels]="moneyLabels" [data]="moneyDataLabels" class="statistics__chart  statistics__chart--money" width="900"></canvas>
      </div>

      <div class="statistics__item statistics__item--transport">
        <canvas appChart [labels]="moneyLabels" [data]="moneyDataLabels" class="statistics__chart  statistics__chart--transport" width="900"></canvas>
      </div>

      <div class="statistics__item statistics__item--time-spend">
        <canvas appChart [labels]="moneyLabels" [data]="moneyDataLabels" class="statistics__chart  statistics__chart--time" width="900"></canvas>
      </div>
    </section>
  </div>
</main>
